	<div class="col-md-12 col-md-offset-0">
		<div class="fh5co-blog animate-box">
			<div class="meta-date text-center">
				<p><span class="date">{{ content.field_event_date.0 }}</span></p>
				
			</div>
			<div class="desc desc2">
				<h3>{{ content.field_event_title.0 }}</h3>
				
				<p>{{ content.field_descriptions.0 }}</p>
				
			</div> 
		</div>
	</div>