<div class="col-md-4 col-sm-6">
						<div class="program animate-box">
<img src="{{ file_url(content.field_icon['#items'].entity.uri.value) }}" alt="Cycling">
							<h3>{{ content.field_program_title.0 }}</h3>
							<p>{{ content.field_body.0 }}</p>
							<span>{{ content.field_link_text.0 }}</span>
							</div>
							</div>