<div class="fh5co-blog-section" id="Blog">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="col-md-12">
							<div class="heading-section animate-box">
								<h2>{{ content.field_blog_header.0 }}</h2>
							</div>
						</div>
						   
						   {{ content.field_blogs }}
					</div>
					<div class="col-md-6">
						<div class="col-md-12">
							<div class="heading-section animate-box">
								<h2>{{ content.field_event_header.0 }}</h2>
							</div>
						</div>
					
					            {{ content.field_events }}
					</div>
				</div>
			</div>
		</div>