
					<div class="text-center">

						<div class="col-md-3 schedule-container">

							<div class="schedule-content active" >
							
									<div class="program program-schedule">
										<img src="{{ file_url(content.field_icon['#items'].entity.uri.value) }}" alt="Cycling">
										<small>{{ content.field_time.0 }}</small>
										<h3>{{ content.field_class_name.0 }}</h3>
										<span>{{ content.field_name.0 }}</span>
									</div>
								
								</div>
								</div>
								</div>
