<div  class="fh5co-lightgray-section" id="Classes">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="heading-section text-center animate-box">
							<h2>{{ content.field_header.0 }}</h2>
							<p>{{ content.field_descriptions.0}}</p>
						</div>
					</div>
				</div>
				<div class="row animate-box">

                           {{ content.field_class_section }}
				</div>
				</div>
				</div>