
	<div class="fh5co-hero">
			<div class="fh5co-overlay"></div>
			<div class="fh5co-cover" data-stellar-background-ratio="0.5" style="background-image: url({{ file_url(content.field_bac['#items'].entity.uri.value) }});">
				<div class="desc animate-box">
					<div class="container">
						<div class="row">
							<div class="col-md-7">
								{{ content.field_title.0 }}
								{{ content.field_description.0 }}
								{{ content.field_button.0 }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>